## **UNIT -2**

In [2]:
n=5
for i in range(1,11,1):
   print(n*i)

5
10
15
20
25
30
35
40
45
50

In [14]:
import math
for i in range(2,101,1):
    c=0
    for j in range(1,int(math.sqrt(i))+1,1):
        if(i%j==0):
            c=c+1
    if(c==1):
      print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [5]:
n=50
sum=0
while(n>0):
    if(i%2==0):
      sum=sum+i
    n=n-1
print(sum)

500

## **List**

1. Insertion order is preserved  
2. Duplicate elements are allowed  
3. Mutable (can be changed)  
4. Can store heterogeneous data  
5. Initialization: `[]`

In [10]:
list3=list([1,2,'a'])
print(list3)

[1, 2, 'a']

In [12]:
class ABC:
    def __init__(self,a,b):
        self.a=a
        self.b=b
obj1=ABC(10,12)
obj2=ABC(13,14)
list3=[obj1,obj2]#List of objects

In [15]:
#Slicing
nums=[10,20,30,40,50]
print(nums[1:])
print(nums[:3])
print(nums[::2])
print(nums[::-1])

[20, 30, 40, 50]
[10, 20, 30]
[10, 30, 50]
[50, 40, 30, 20, 10]

In [17]:
fruits=["apple","banana","cherry"]
fruits.append("orange")#append
fruits.remove("banana")#remove
fruits.count('orange') #count

1

In [19]:
print('orange' in fruits)

True

In [21]:
fruits.insert(1,"Mango")
print(fruits)

['apple', 'Mango', 'cherry', 'orange']

In [22]:
fruits[0]='Cherry'
print(fruits)

['Cherry', 'Mango', 'cherry', 'orange']

In [24]:
a=[1,2,3]
b=[6,7]
a.extend([4,5]) #we can also merge two list using extend func
print(a)
a=a+b
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]

In [34]:
num=list(range(1,11))
for i in num:
    if(i%2==0):
        print(i," ")

2
4
6
8
10

## **TUPPLE**
1.Initialization-()<br>
2.Immutable<br>
Rest same as list<br>

In [ ]:
t1=()#Empty
t2=(10,20,30)#with elements
t3=("Alice",21,88.5)#Mixed types
t4=1,2,3#Without parenthesis(Tuple Packing)
#if we return multiple values from a func then we use diff varibales to store the return value which is called tuple unpacking
#ab,b,c=t4(Unpacking)
t5=(1,)#Single element(must include a comma)
print(t2[0])
print(t2[-1])

#slicing

In [ ]:
t2=(10,20)
t3=(30,40,50)
t2+=t3 #tuple can be extended(RUle of Reference)
print(t2)

#but we can;t do
#t2[1]=3

(10, 20, 30, 40, 50)

In [39]:
t7=(123,34)*2
print(t7*2)

(123, 34, 123, 34, 123, 34, 123, 34)

In [40]:
print(len(t7))

4

In [44]:
t6=(1,2,3)
print(type(t6))
t6=list(t6)
print(type(t6))
t6.append(4)
print(t6)

<class 'tuple'>
<class 'list'>
[1, 2, 3, 4]

In [52]:
c,x=0,6
t9=(1,2,3,4)
for i in t9:
    if(i==x):
        c=1
        break
if(c): print("Present")
else: print("Not Present")

Not Present

## **DICTIONARY**

1. It is a built in data type that stores data as key-value pairs
2. Keys are unique & immutable(eg. strings)
3. Implementation={}
4. Dictionary is mutuable

In [68]:
student={"Name":"Ishant","Roll-no.":24,"Marks":85}
print(student,type(student),sep='\n')

{'Name': 'Ishant', 'Roll-no.': 24, 'Marks': 85}
<class 'dict'>

In [69]:
student['Marks']=90 #updates the value of the key
print(student)

student['Section']="A1" #if key is not present then it appends it in the dict
print(student)

{'Name': 'Ishant', 'Roll-no.': 24, 'Marks': 90}
{'Name': 'Ishant', 'Roll-no.': 24, 'Marks': 90, 'Section': 'A1'}

In [70]:
for i,j in  student.items():
    print(i,": ",j)

Name :  Ishant
Roll-no. :  24
Marks :  90
Section :  A1

In [71]:
print(student.values())

dict_values(['Ishant', 24, 90, 'A1'])

In [72]:
for i in student.items():
    print(i[1])

Ishant
24
90
A1

In [73]:
print(student.keys())

dict_keys(['Name', 'Roll-no.', 'Marks', 'Section'])

In [ ]:
print(student.get('Name'))#if we want to print the item of the key

print(student.get('Course',12))#if the key is not present in dict then it will return other value

Ishant
12

In [ ]:
student.update({"Marks":80}) #can update more than one values
print(student)

del student["Marks"] #to delete the key
print(student)

{'Name': 'Ishant', 'Roll-no.': 24, 'Section': 'A1', 'Marks': 80}
{'Name': 'Ishant', 'Roll-no.': 24, 'Section': 'A1'}

In [84]:
students = [ {"Name": "", "Marks": 0} for _ in range(3) ]
for i in range(3):
      name=input("Enter the name: ")
      marks=int(input("Enter the marks: "))
      students[i]["Name"]=name
      students[i]["Marks"]=marks
print("\nStudents with marks > 50:")
for i in range(3):
      if(students[i]["Marks"]>50):
            print(students[i])

Students with marks > 50:
{'Name': 'Ishant', 'Marks': 89}

In [83]:
s1="HELLOHELLO"
keys=set(s1)

dict1=dict()
value=0
for i in keys:
    value = s1.count(i)
    dict1[i]=value

print(dict1)

{'H': 2, 'L': 4, 'E': 2, 'O': 2}